<h1>Here are all the restaurants</h1>

<p>
  <% @restaurants.each do |restaurant| %>
    <li> <%= link_to "#{restaurant.name}", restaurant %>  </li>
  <% end %>
</p>


   <%= link_to "ADD A RESTAURANT", new_restaurant_path, class: "btn btn-primary"%>
